*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

build/
repo/
.gradle/
.idea/
.tmp/
tmp-*.xml
*.iml

gradle.properties
poeditor.properties

src/test/resources/config.properties
src/test/resources/poeditor.properties
src/test/resources/poeditor2.properties
src/main/resources/poeditor.properties
src/main/resources/poeditor2.properties

